html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

body {
    margin: 0%;
    background-color: #92c9d5;
}

nav {
    background: #000060;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    z-index: 2;
}

a {
    color: #daeeef;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 1px solid gray;
    text-align: center;
    color: #6060ff;
    transition: color .5s;
}

nav a:hover {
    color: white;
    text-shadow: 1px 1px 2px #808080;
}

nav > a:first-child {
    border-left: 0;
}

header {
    position: relative;
    margin-top: 3em;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}


header > .content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

h3 {
    font-size: 2rem;  
    margin-top: .7rem;
    margin-bottom: .7rem;
}

article {
    padding-top: 3em;
    position: relative;
    

}

article:before {
    content: "";
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#intro {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.side1, .side2, .side3, .side4, .side5 {
    background-color: #fbfff4;
    box-sizing: border-box;
    min-width: 35%;
    max-width: 35%;
    font-size: .8em;
    padding: 1em;
    font-size: large;


}

article > h2 {
    background-color: #b6e2e4;
    color: white;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    background-color: transparent;
    padding: 1em;
    margin: 1em 10vw .5em 10vw;
    font-size: 0.8em;
}

.box {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: 7vw;
    margin-right: 7vw;
    background-color: white;
}

dt {
    font-weight: bold;
}


dd {
    margin-bottom: 1em;
}