html, body {
	font-family: sans-serif;
	font-size: 3vh;
	color: #303030;
}

.item1 {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    text-align: center;
}

.item2 {
    grid-area: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    text-align: center;
}

.item3 {
    grid-area: middle;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    text-align: center;
}

.item4 {
    grid-area: right;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    text-align: center;
}

.item5 {
    grid-area: footer-left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    text-align: center;
}

.item6 {
    grid-area: footer-right;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    text-align: center;
}



.grid-containter {
    display: grid;
    grid-template-areas:"header header header header"
                        "left middle middle right"
                        "footer-left footer-left footer-right footer-right";
    background-color: #00a000;
    grid-gap:0.25em;
    padding: 0.25em;
}

.grid-containter > div {
    font-family: sans-serif;
    font-size: 3vh;
    color: #303030;
}